<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper orange accent-3">
        <a href="/bands" class="brand-logo">MusicApp</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Kittens</a></li>
          <li><a href="badges.html">About</a></li>
          <li>
            <% if current_user %>
              <%= link_to 'Log Out', session_url, method: :delete %>
            <% else %>
              <%= link_to 'Log In', new_session_url, method: :get %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container"
      <%= yield %>
    </div>
  </body>
</html>
